In [1]:
#List are ordered sequences that can hold a variety of object types
# use[] and comma to separate objects for ex [1,2,3,4,5]
#supports both indexing and slicing

In [2]:
my_list=[1,2,3]

In [3]:
my_list=['STRING',100,23.2] #List can have numbers and string value

In [4]:
len(my_list)  # utput is 3 as we have three elements

3

In [5]:
mylist=['one','two','three']

In [6]:
mylist[0] #indexing example

'one'

In [10]:
mylist[0:3] #Slicing example start from 0 and pick all the elements

['one', 'two', 'three']

In [11]:
#List Concatenation

In [12]:
mylist1=['four']

In [13]:
mylist+mylist1

['one', 'two', 'three', 'four']

In [14]:
mylist[0]='five'          #change the string values

In [15]:
mylist

['five', 'two', 'three']

In [16]:
mylist.append('five')   #append helps us to add an element at the end

In [17]:
mylist

['five', 'two', 'three', 'five']

In [18]:
mylist.append('six')

In [19]:
mylist

['five', 'two', 'three', 'five', 'six']

In [20]:
mylist.pop()                    #pop helps us to remove and element

'six'

In [21]:
mylist                            #six is removed from the list

['five', 'two', 'three', 'five']

In [22]:
#Now i dont to remove an element from end i want to remove an element from the list of the given index

In [23]:
mylist.pop(0)  #remove the element from zero location, default value for pop is -1, support also pop from reverse order

'five'

In [24]:
mylist

['two', 'three', 'five']

In [25]:
mylist.pop(-2)

'three'

In [26]:
mylist

['two', 'five']

In [27]:
#how to sort the list---we use sort

In [28]:
new_list=['a','x','t','c']
num_list=[4,1,8,3]

In [29]:
new_list.sort()  #sort the list doesnt return anything

In [31]:
new_list

['a', 'c', 't', 'x']

In [32]:
new_sorted_list=new_list.sort() #new_list.sort doesnt return anything we get back nothing or none

In [33]:
new_sorted_list

In [34]:
type(new_sorted_list)        # type of nun object, we used it to indicated no value,
                             #search for someting and you wont find anything

NoneType

In [35]:
num_list  #unsorted

[4, 1, 8, 3]

In [36]:
num_list.sort()

In [37]:
num_list

[1, 3, 4, 8]

In [38]:
num_list.reverse()   #reverse the string

In [39]:
num_list

[8, 4, 3, 1]