In [1]:
mylist=[1,2,3]

In [3]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [5]:
for num in range(0,20,2):
    print(num)

0
2
4
6
8
10
12
14
16
18

In [6]:
range(0,20,2)  #gets same result its just a generate the numbers

range(0, 20, 2)

In [7]:
list(range(0,20,2))  #to get list of numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [8]:
#enumerate function it takes the enumerable object and returns its index and word

In [9]:
word='hello world'

for i in enumerate(word):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'w')
(7, 'o')
(8, 'r')
(9, 'l')
(10, 'd')

In [10]:
word='hello world'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
h


1
e


2
l


3
l


4
o


5



6
w


7
o


8
r


9
l


10
d

In [11]:
#zip function zip two list and pair up two items
#zip together as far as its the shortest

In [13]:
mylist1=[1,2,3]
mylist2=['one','two','three']
mylist3=['num1','num2','num3']

for i in zip(mylist1,mylist2,mylist3):
    print(i)

(1, 'one', 'num1')
(2, 'two', 'num2')
(3, 'three', 'num3')

In [14]:
# print till shortest and ignore the rest
mylist1=[1,2,3,4,5,6]
mylist2=['one','two','three']
mylist3=['num1','num2','num3']

for i in zip(mylist1,mylist2,mylist3):
    print(i)

(1, 'one', 'num1')
(2, 'two', 'num2')
(3, 'three', 'num3')

In [15]:
zip(mylist1,mylist2,mylist3)  #zip doesnt output anything

In [16]:
list(zip(mylist1,mylist2,mylist3) )

[(1, 'one', 'num1'), (2, 'two', 'num2'), (3, 'three', 'num3')]

In [17]:
#tuple unpacking
mylist1=[1,2,3]
mylist2=['one','two','three']
mylist3=['num1','num2','num3']

for a,b,c in zip(mylist1,mylist2,mylist3):
    print(c)

num1
num2
num3

In [18]:
#List operator

'x' in [1,2,3]

False

In [20]:
'a' in 'aworld'

True

In [21]:
'mykey' in {'key1':234}

False

In [23]:
d={'mykey':123}

123 in d.values()

True

In [24]:
mylist=[1,2,3,4,5]

In [25]:
min(mylist)

1

In [26]:
max(mylist)

5

In [27]:
#importing from library

In [28]:
from random import shuffle  #from random library import shuffle

In [35]:
mylist=[1,4,3,7,78,8,90,100]

In [40]:
r=shuffle(mylist)

In [37]:
r   #doesnot return anything

In [38]:
shuffle(mylist)

In [41]:
mylist

[100, 1, 7, 78, 3, 8, 90, 4]

In [42]:
from random import randint

In [43]:
randint(0,100)

15

In [44]:
 #user input

In [ ]:
result=input('Enter your name')

In [ ]:
result

In [ ]:
result=input('Enter the number')

In [ ]:
result

In [ ]:
type(result) #string

In [ ]:
float(30.6)  #cast it

In [ ]:
int(30)

In [ ]:
input('enter the number')